html, body {
    margin: 0;
    Padding: 0;
    background: #faf8ef;
    color: #776e65;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
}

nav.bg-darkbeige {
    background-color: #776e65;
}

nav.bg-darkbeige .nav-link {
    color: #eee4da !important;
}

nav.bg-darkbeige .navbar-brand {
    color: #eee4da;
    font-size: xx-large;
}

#site-container {
    --grid-size: 500px;
    display: block;
    width: var(--grid-size);
    margin: 30px auto 0px auto;
}

#game-container {
    --grid-size: 500px;
    background: #bbada0;
    margin-top: 40px;
    position: relative;
    padding: 15px;
    user-select: none;
    touch-action: none;
    border-radius: 6px;
    width: var(--grid-size);
    height: var(--grid-size);
    box-sizing: border-box;
}

#grid-container {
    position: absolute;
    z-index: 1;
}

.grid-row {
    margin-bottom: 15px;
}

.grid-row:after {
    content: "";
    display: block;
    clear: both;
}

.grid-cell {
    width: 106.25px;
    height: 106.25px;
    margin-right: 15px;
    float: left;
    background: rgba(238, 228, 218, 0.35);
    border-radius: 3px;
}

.tile {
    width: 107px;
    height: 107px;
    border-radius: 3px;
    position: absolute;
    background-color: var(--background-color);
    color: var(--color);
    /* Intially wanted to use transform, but it somewhat messed up the 'spawn' animation.
    The animation could have been fixed rather easily, but it would be less elegant.
    transform: translate(calc(121px*var(--x)), calc(121px*var(--y)));
    */
    /*Alternatively, the following can also be used, where 15px represents the padding.
    Instead, I decided to use transform and translate, as it bases its final position on
    calculations upon the base position and I therefore believe it to be more elegant:*/
    left: calc(var(--x) * 121px);
    top: calc(var(--y) * 121px);
    animation: spawn 200ms ease-in-out;
    transition: 100ms ease-in-out;
}

@keyframes spawn {
    0% {
        opacity: .5;
        transform: scale(0);
    }
}

.tile .tile-inner {
    /* line-height is used to align the text in the center (vertically): */
    line-height: 107px;
    text-align: center;
    font-weight: bold;
    font-size: 55px;
    z-index: 10;
}

#above-game {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1.title {
    font-size: 80px;
    font-weight: bold;
    margin: 0;
    display: block;
    float: left;
}
#reset-2048 {
    border: none;
    background: #8f7a66;
    border-radius: 3px;
    padding: 0 20px;
    text-decoration: none;
    color: #f9f6f2;
    height: 40px;
    line-height: 42px;
    cursor: pointer;
    display: block;
    text-align: center;
    flex-shrink: 0;
    font-weight: bold;
}

#leaderboard2048 {
    width: 500px;
    top: 200px;
    bottom: 0;
    right: 50px;
    position: fixed;
    display: flex;
}

#leaderboard2048 table {
    color: #776e65;
    font-weight: bold;
}

#history {
    width: 500px;
    top: 200px;
    opacity: 100% !important;
    bottom: 0;
    left: 50px;
    position: fixed;
    display: flex;
}

#history.page-transition {
    transition: 0.5s;
    top: 200px !important;
    opacity: 100% !important;
}

#history table {
    color: #776e65;
    font-weight: bold;
}

#game-message {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(238, 228, 218, 0.73);
    z-index: 100;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    animation: fade-in 800ms ease;
    animation-fill-mode: both;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
}

#game-message p {
    font-size: 60px;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
}

#play-again {
    display: inline-block;
    border: none;
    font-weight: bold;
    background: #8f7a66;
    border-radius: 3px;
    padding: 0 20px;
    text-decoration: none;
    color: #f9f6f2;
    height: 40px;
    line-height: 42px;
    cursor: pointer;
    margin-top: 29px;
    margin-left: 9px;
}

#select {
    font-size: 60px;
    font-weight: bold;
}

.selectList {
    display: block;
    height: 100px;
    font-size: 40px;
    font-weight: bold;
    color: #776e65;
    text-decoration: none;
}

.selectList:hover {
    color: #372e25
}

#main {
    opacity: 0%;
    margin-left: 50%;
}

#footer {
    opacity: 0%;
    margin-right: 50%;
}

.page-transition {
    transition: 0.5s;
    opacity: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
