{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <p>Win History:</p>

    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Game</th>
            <th scope="col">Difficulty</th>
            <th scope="col">DateTime</th>
          </tr>
        </thead>
        <tbody>

            {% for event in history %}
              <tr>
                  <td>{{ event["game"] }}</td>
                  <td>{{ event["difficulty"] }}</td>
                  <td>{{ event["datetime"] }}</td>
              </tr>
            {% endfor %}

        </tbody>
      </table>
{% endblock %}
